<div class="wrapper">
  <div class="main">
    <main class="content bg-white">
      <div class="container-fluid p-0">
        <div class="row align-items-center mb-3">
          <div class="col-lg-10 col-xl-10 col-12">
            <div class="page-title">
              <h2>
                <a routerLink="/employee-policies/employee-policies-list" class="me-2 text-dark">
                  <i class="bi bi-arrow-left-circle"></i></a>
                Sub Policies Name
              </h2>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2 col-12 d-flex gap-2">
            <a [routerLink]="['/employee-policies/employee-policies-list']" class="btn btn-primary w-100">
              Back
            </a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Version History</th>
                    <th scope="col">Policy Date</th>
                    <th scope="col">Date Stamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngIf="!policyList?.length" colspan="6">
                      <app-no-record-found></app-no-record-found>
                    </td>
                  </tr>

                  <ng-container *ngFor="let item of policyList">
                    <tr>
                      <td>
                        <a routerLink="/policies/terms-conditions" class="text-dark">{{ item?.version }}</a>
                      </td>
                      <td>{{ item?.createdAt | date : "dd/MM/yyyy" }}</td>
                      <td>{{ item?.policySettings?.publishDate | date : "dd/MM/yyyy" }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
