.form-group {
  position: relative;
}

.search-input {
  padding-left: 40px;
  /* Space for the icon */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  /* Prevents interaction with the icon */
}
/* table {
  width: 100%;
  table-layout: fixed;
}

th:nth-child(1), td:nth-child(1),
th:nth-child(2), td:nth-child(2) {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
